body {
    margin: 0;
}
:root { /* Choix des couleurs */
    --grey: #F2F2F2;
    --blue:#0065FC;
    --lightblue:#DEEBFF;
    --black: black;
    --white: white;
}
* {/* Toute la page */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.box-content {
    margin: 0 10%;
}
header {/* En-tête */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
}
.Logo-Reservia {/* Logo en haut à gauche */ 
    margin-top: 15px;
    width: 100px;
    height: 50px;
    position: relative;
}
li > a{
    text-decoration: none;
}
ul {
    list-style-type: none;
}
nav{/* Nav en haut à droite */
    display: inline-flex;
    position: relative;
}
#nav-hebergements {/* Nav en haut à droite */
    border-top: 2px solid var(--blue);
    color: var(--blue);
    position: relative;
}
#nav-activite a {/* Nav en haut à droite*/
    color: black;
    position: relative;
}
#nav-inscription {/* Nav en haut à droite*/
    font-weight: bold;
    color: var(--lightblue);
    position: relative;
}
h1 {
    font-size:large;
}
.research-bar {
    margin: 10px 0;
}
.left-button {/* Barre de recherche de ville */
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px 0;
    width: 100%;
}
.map-logo {
    background-color: var(--grey);
    border-radius: 10px 0 0 10px;
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -2px;
}
input {
    height: 40px;
    padding-top: -5px;
    padding-left: 10px;
    font-weight: bold;
}
.research-btn button{ /*bouton rechercher*/
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0 10px 10px 0;
    padding: 2px 10px;
    font-size: 0.9em;
    font-weight: bold;
    height: 40px;
    width: fit-content;
    margin-left: -2px;
    border: 0px;
}
.research-btn2 {
    display: none;
    color: var(--white);
}
.content-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: initial;
}
.content-box p {
    font-weight: bold;
    margin-right: 10px;
}
.filter :hover {
    background: #cccccc;
    color: red;
}
button {
    background-color: white;
    border-radius: 20px;
    border: 2px solid var(--grey);
    height: 40px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.round { 
    height: 40px; 
    width: 40px; 
    background-color: var(--lightblue);
    border: 1px solid var(--lightblue);
    color: var(--blue);
    border-radius: 50%;
    margin-left: -8px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-bar { /*Logo info + texte */
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin: 10px 0;
}
.cercle { /*Logo info*/
    height: 25px; 
    width: 25px; 
    background-color: white;
    border: 1px solid grey;
    color: var(--blue);
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Hebergements {
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 20px;
}
.Marseille {
    background-color: var(--grey);
    border-radius: 20px;
    width: 70%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: space-around;
    padding: 0 25px 25px 25px;
    margin-right: 20px;
}
#title1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.card1 {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    line-height: 6px;
}
.img-left {
    object-fit: cover;
    height: 120px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.desc1 {
    padding: 0 6px;
}
.card1 h3 {
    font-size: inherit;
}
.card1 p {
    font-size: small;
}
.stars {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}
.stars1 {
    display: flex;
    flex-direction: row;
}
.fa-star {
    size: 2px;   
}
.starB {
    color:var(--blue);
}
.starG {
    color:var(--grey);
}
.Marseille a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
.Populaires {
    background-color: var(--grey);
    width: 30%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
}
.Populaires-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.card2 {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    height: 140px;
    margin: 10px 15px;
}
.card2 h3 {
    font-size: inherit;
    font-weight: 900;
}
.card2 p {
    font-size: small;
    margin: -15px 0 25px 0;
}
.desc2 {
    padding-left: 10px;
}
.img-right {
    object-fit: cover;
    padding: 5px 5px;
    height: 140px;
    width: 110px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#Activites {
    margin: 20px 0;
}
.title3 {
    font-weight: 900;
}
.grid-container {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    /*grid-template-rows: auto auto auto;*/
    justify-content: space-between;
    grid-gap: 10px;
    margin: 20px 0;
}
.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6  {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-weight: bold;
    height: fit-content;
}
.desc3 {
    padding-left: 10px;
}
.grid-item1 {
    grid-column: 1;
    grid-row: 1 /  4;
    /*Vieux port*/
}
.Ac1 img {
    height: 370px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-fit: cover;
}
.grid-item2 {
    grid-column: 2;
    grid-row: 1 / 3;
    /*Pomègues*/
}
.Ac2 img {
    height: 135px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-fit: cover;
}
.grid-item3 {
    grid-column: 2;
    grid-row: 3 / 4;
    /*Ile de Frioul*/
}
.Ac3 img {
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    object-fit: cover;
}
.grid-item4 {
    grid-column: 3;
    grid-row: 1 / 4;
    /*Calanques*/
}
.grid-item5 {
    grid-column: 4;
    grid-row: 1 / 3;
    /*Notre Dame*/
}
.grid-item6 {
    grid-column: 4;
    grid-row: 3 / 4;
    /*Longchamps*/
}
footer {
    background-color: var(--grey);
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 1320px) and (min-width: 1025px) {
    #Hebergements {
        display: flex;
        flex-flow: column wrap; 
    }
    .Marseille {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .Populaires {
        width: 100%;
        justify-content: center;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 845px) {
    .name-bar {
        justify-content: center;
    }
    .content-box {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-content: space-between;
        row-gap: 10px;
        align-items: center;
    }
    .content-box p {
        grid-column: 1;
        grid-template-rows: 1 / 2;
        display: flex;
        align-items: center;
    }
    .content-box button:nth-child(2) {
        grid-column: 2;
        grid-row: 1 / 1;
    }
    .content-box button:nth-child(3) {
        grid-column: 3;
        grid-row: 1 / 1;
    }
    .content-box button:nth-child(4) {
        grid-column: 2;
        grid-row: 2 / 2;
    }
    .content-box button:nth-child(5) {
        grid-column: 3;
        grid-row: 2 / 2;
    }
    #Hebergements {
        display: block;
        justify-content: center;
    }
    .Marseille {
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;
        width: 100%;
    }
    #title1 {
        justify-content: center;
    }
    .card1 {
        display: grid;
        flex-direction: column;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        margin: 20px 33%;
        width: fit-content;
    }
    .Marseille a {
        display: flex;
        justify-content: center;
    }
    .Populaires {
        width: 100%;
        justify-content: center;
    }
    .card2 {
        margin: 10px 20px;
        width: fit-content;
    }
}
@media screen and (max-width: 844px) and (min-width: 615px) {
    .content-box {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        justify-content: space-between;
        row-gap: 10px;
        align-items: center;
    }
    .content-box p {
        grid-column: 1;
        grid-template-rows: 1 / 2;
        display: flex;
        align-items: center;
    }
    .content-box button:nth-child(2) {
        grid-column: 2;
        grid-row: 1 / 1;
    }
    .content-box button:nth-child(3) {
        grid-column: 3;
        grid-row: 1 / 1;
    }
    .content-box button:nth-child(4) {
        grid-column: 2;
        grid-row: 2 / 2;
    }
    .content-box button:nth-child(5) {
        grid-column: 3;
        grid-row: 2 / 2;
    }
    #Hebergements {
        display: block;
        justify-content: center;
    }
    .Marseille {
        display: flex;
        flex-flow: column;
        margin-bottom: 20px;
        width: 100%;
    }
    #title1 {
        justify-content: center;
    }
    .card1 {
        display: grid;
        flex-direction: column;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        margin: 20px 33%;
        width: fit-content;
    }
    .Marseille a {
        display: flex;
        justify-content: center;
    }
    .Populaires {
        width: 100%;
        justify-content: center;
    }
    .card2 {
        margin: 10px 20px;
        width: fit-content;
    }
}
/*@media screen and (max-width: 414) and (min-width: 1px) {
    header {
        .logo
    }
    #Hebergements {
        background-color: none;
        flex-flow: column wrap; 
    }
    .Populaires {
        width: fit-content;
        justify-content: center;
    }
    .card2 {
        margin: 10px 20px;
        width: fit-content;
    }
}